* {
  padding: 0;
  margin: 0;
}

.footer-container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

#header {
  background: black;
  padding: 10px;
}

#header ul li {
  list-style: none;
  display: inline;
  padding: 10px;
}

#header ul li a {
  color: white;
  text-decoration: none;
  padding: 10px;
}

#main {
  padding: 20px 0;
  width: 500px;
  margin: 0 auto;
}

.center{
  text-align: center;
}

.error{
  color:red;
}

#footer {
  background-color: beige;
}
